@model List<VenueApp.Models.Event>

@{
    ViewBag.Title = "Events Index";

    @using Microsoft.AspNetCore.Http
    @using System.Globalization
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

    int count = 1;
}

<h1>@ViewBag.Title</h1>

<h2>List of Events on Database</h2>
@if (Model.Count == 0)
{
    <p>No events yet!</p>
}
else
{
    <table class="table table-striped">
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-6">Name</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-1">Hour</th>
            <th class="col-md-2">Options</th>

        </tr>
        @foreach (var evento in Model){
        <tr>
            <td>@count</td>
            <td><a asp-controller="Event" asp-action="Detail" asp-route-eventId="@evento.ID">@evento.Name</a></td>
            <td>@evento.Date.ToString("ddd d MMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</td>
            <td>@evento.Date.ToString("hh:mm tt", CultureInfo.CreateSpecificCulture("en-US"))</td>
            <td><a asp-controller="Event" asp-action="Edit" asp-route-eventId="@evento.ID">edit</a></td>
        </tr>
            count += 1;
        }
    </table>
}

<p><a asp-controller="Event" asp-action="Add">Add</a> | <a asp-controller="Event" asp-action="Remove">Remove</a></p>
