@{
    ViewBag.Title = "Remove Event";
    int count = 1;
}

<h1>@ViewBag.Title</h1>


<form method="post">

    <table class="table table-striped">
        <tr class="info">
            <th class="col-md-1">#</th>
            <th class="col-md-10">Event Name</th>
            <th class="col-md-1">Selection</th>
        </tr>


        @foreach (var evento in ViewBag.events)
        {
            <tr>
                <td>@count</td>
                <td class=""><label for="@evento.ID">@evento.Name</label></td>
                <td class="text-center"><input type="checkbox" name="eventsIds" id="@evento.ID" value="@evento.ID" /> </td>
            </tr>
            count += 1;
        }
    </table>

    <input class="btn bg-danger pull-right" type="submit" value="Remove Selected Events" />
</form>

<br />
<p><a asp-controller="Event" asp-action="Index">back</a>