@model VenueApp.Models.User

@{
    ViewBag.Title = "User Detail";

    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";
}


<h1>User Detail (ID = @Model.ID)</h1>
<div>
    <h4>Username: <b><i>@Model.Username</i></b></h4>
    <h4>First Name: <b><i>@Model.FirstName</i></b></h4>
    <h4>Last Name: <b><i>@Model.LastName</i></b></h4>
    <h4>Email: <b><i>@Model.Email</i></b></h4>
    <h4>Date created: <b><i>@Model.Created</i></b></h4>
    <h4>Membership: <b><i>@Model.Membership.Name</i></b></h4>
    <h4>User Role Type: <b><i>@Model.Type.Name</i></b></h4>

</div>
<br />
<p><a asp-controller="User" asp-action="Index">back</a> &nbsp;&nbsp; [<a asp-controller="User" asp-action="Detail" asp-route-userId="@((Model.ID == 1)?1:Model.ID-1)">prev</a> | <a asp-controller="User" asp-action="Detail" asp-route-userId="@(Model.ID+1)">next</a>]</p>
<!-- There is a BUG here with ID not in database-->
