@model VenueApp.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Edit User " + Model.Username + "(Id=" + Model.UserID + ")";
}

<h1>@ViewBag.Title</h1>

<br />

<form asp-controller="User" asp-action="Edit" method="post">
    <div class="container">
        <div class=" row">
            <h3>
                Edit User Data
                <a class="back pull-right" asp-controller="User" asp-action="Index"><i class="fas fa-angle-double-left"></i></a>
            </h3>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Username"></label>
                <div>
                    <input class="form-control " asp-for="Username" value="@Model.Username" />
                    <span class="small text-danger" asp-validation-for="Username"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Email"></label>
                <div>
                    <input class="form-control " asp-for="Email" value="@Model.Email" />
                    <span class="small text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <div>
                    <input class="form-control " asp-for="FirstName" value="@Model.FirstName" />
                    <span class="small text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <div>
                    <input class="form-control " asp-for="LastName" value="@Model.LastName" />
                    <span class="small text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Password"></label>
                <input id="password" class="form-control" asp-for="Password" value="@Model.Password" onchange="copyVerify(this.value)" />
                <span class="small text-danger" asp-validation-for="Password"></span>
                <input id="verify" hidden asp-for="Verify" value="@Model.Password" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Birthday"></label>
                <input type="date" class="form-control " style="line-height: 1" asp-for="Birthday" value="@Model.Birthday">
                <span class="small text-danger" asp-validation-for="Birthday"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="PhoneNumber"></label>
                <input id="password" class="form-control" asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
                <span class="small text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Location"></label>
                <input type="text" class="form-control " asp-for="Location" value="@Model.Location">
                <span class="small text-danger" asp-validation-for="Location"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="MembershipID"></label>
                <select class="form-control " asp-for="MembershipID" asp-items="@Model.Memberships"> </select>
                <span class="small text-danger" asp-validation-for="MembershipID"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UserTypeID"></label>
                <select class="form-control " asp-for="UserTypeID" asp-items="@Model.Roles"> </select>
                <span class="small text-danger" asp-validation-for="UserTypeID"></span>
            </div>
        </div>
        <br />

        <input class="pull-right btn btn-success btn-lg" type="submit" value="Edit User" />
        <input type="hidden" name="UserID" value="@Model.UserID" />

    </div>
        <br />
        <div>
            @if (Model.ServerError)
            {
                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            }
            <span class="text-danger" asp-validation-for="ServerError"></span>
        </div>
</form>

<br />
<!--
<p><a asp-controller="User" asp-action="Index">back</a>
    
-->

<script>
    function copyVerify(passw) {
        alert("The password has changed. The new value is: " + passw);
        document.getElementById('verify').setAttribute("value", passw);
    }

</script>