@model List<VenueApp.Models.User>

@{
    ViewBag.Title = "Users Index";

    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

    int count = 1;
}

<h1>@ViewBag.Title</h1>


@if (ViewBag.Username.Length > 0)
{
    <h3>Welcome, @ViewBag.Username !!!</h3>
    <p class="text-success">You have Succsessfully Logged In (as an @userType) <span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.LogoutMessage.Length > 0)
{
    <p class="text-danger">You have Succsessfully Logged Out <span class="glyphicon glyphicon-log-out " aria-hidden="true"></span></p>
}
else if (ViewBag.Message.Length > 0)
{
    <p class="text-success">@ViewBag.Message<span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.ErrorMessage.Length > 0)
{
    <p class="text-danger">@ViewBag.ErrorMessage <span class="glyphicon glyphicon-remove " aria-hidden="true"></span></p>
}

@if (userType.Length > 0)
{

    @if (Model.Count == 0)
    {
        <h3>List of Users on Database</h3>
        <p>No users yet!</p>
    }
    else
    {
        <h3>
            List of Users in Database
            <a class="delete pull-right" asp-controller="User" asp-action="Remove"><i class="fas fa-times bi"></i></a>
            <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
            <a class="add pull-right" asp-controller="User" asp-action="add"><i class="fas fa-plus"></i></a>
        </h3>
                
        <table class="table table-hover">
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-8">Name</th>
                <th class="col-md-3">Options</th>
            </tr>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@count</td>
                    <td><b><a asp-controller="User" asp-action="Detail" asp-route-userId="@user.ID">@user.Username</a></b> &nbsp; @(user.Protected ? "(Protected)" : "")</td>
                    <td class="right">
                        <a asp-controller="User" asp-action="Edit" asp-route-userId="@user.ID">Edit</a>
                          |  <a asp-controller="Booking" asp-action="Add" asp-route-userId="@user.ID">Book Event</a>

                    </td>
                </tr>
                count += 1;
            }
        </table>
    }

    <!--
    <p><a asp-controller="User" asp-action="Add">Add User</a> | <a asp-controller="User" asp-action="Remove">Remove</a></p>
        
    -->

}
