@{
    ViewBag.Title = "Test API";


    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userName = @HttpContextAccessor.HttpContext.Session.GetString("User") ?? "";
    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";
    int userID = @HttpContextAccessor.HttpContext.Session.GetInt32("UserID") ?? 0;

}

<h1>@ViewBag.Title</h1>


@if (ViewBag.UnauthorizedMessage != null)
{
    <br />
    <div class="text-center text-warning">
        @foreach (string message in ViewBag.UnauthorizedMessage)
        {
            <h3>@message</h3>
            <br />
        }
    </div>
}
else
{

    <br />
    <div id="api">


    </div>
    <br />


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id='events-panel' class="panel panel-primary col-md-6">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div class="panel-body">
                        <div id="events" class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <nav>
                            <ul class="pager">
                                <li id="prev" class="previous"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                                <li id="next" class="next"><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div id='attraction-panel' class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attraction</h3>
                    </div>
                    <div id="attraction" class="panel-body ">
                        <h4 class="list-group-item-heading">Attraction title</h4>
                        <div class="col-md-6">
                            <img class="col-xs-12" src="">
                            <p id="classification"></p>
                        </div>
                        <div class="col-md-6 col-xs-offset-0">
                            <h5 id="venueName" class="left"> Venue Name</h5>
                            <div class="" id="myMap" style='width: 100%; height: 50vh;'></div>
                            <p class="pull-right"> Location by BingMaps</p>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-info" style="margin-left:20px; margin-bottom:10px" id="myButton">back</button>
                </div>
            </div>
        </div>
    </div>
}


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
</script>
<script type="text/javascript">
    var apiKey = '@ViewBag.APIkey';
</script>
<script src="~/js/testAPI.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Ar6GSgDklc17CZg1iXfmAutlA2Kru2EpLP0NFvJmllNtv3QX2VTgP3YBSY2AVVUu'></script>


