@model List<VenueApp.Models.Booking>

@{
    ViewBag.Title = "Bookings Index";

    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

    int count = 1;
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message.Length > 0)
{
    <p class="text-success">@ViewBag.Message<span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.ErrorMessage.Length > 0)
{
    <p class="text-danger">@ViewBag.ErrorMessage <span class="glyphicon glyphicon-remove " aria-hidden="true"></span></p>
}


@if (userType.Length > 0)
{

    @if (Model.Count == 0)
    {
        <h3>List of Bookings on Database</h3>
        <p>No bookings yet!</p>
    }
    else
    {
        <h3>
            List of Bookings in Database
            
            @if (userType == "user")
            {
                <a class="add pull-right" asp-controller="Booking" asp-action="Add" asp-route-userId="@HttpContextAccessor.HttpContext.Session.GetInt32("UserID")"><i class="fas fa-plus"></i></a>
            }   
        </h3>

        <table class="table table-hover">
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">User</th>
                <th class="col-md-7">Event</th>
                <th class="col-md-1 text-center">EventID</th>
                <th class="col-md-1 text-center">Delete</th>
            </tr>

            @foreach (var booking in Model)
            {
                <tr>
                    <td>@count</td>
                    <td><b><a asp-controller="Booking" asp-action="Scheduled" asp-route-userId="@booking.UserID">@booking.User.Username</a></b> &nbsp;(Id: @booking.UserID)</td>
                    <td><b><a asp-controller="Event" asp-action="Brochure" asp-route-eventId="@booking.EventID">@booking.Event.Name</a></b></td>
                    <td class="text-center">@booking.EventID</td>
                    <td class="text-center"><a class="delete" asp-controller="Booking" asp-action="Delete" asp-route-userId="@booking.UserID" asp-route-eventId="@booking.EventID"><i class="fas fa-times bi"></i></a></td>

                </tr>
                count += 1;
            }
        </table>
    }

    <br />

    @if (userType == "admin")
    {
    <p>To add another event, please use the User Index "<a asp-controller="User" asp-action="Index">Book</a>" option</p>
    }   





}
