@model VenueApp.ViewModels.ViewScheduledViewModel

@{
    @using Microsoft.AspNetCore.Http
    @using System.Globalization
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

    ViewBag.Title = "\"" + Model.User.Username + "'s\" " + "Scheduled events";

    int count = 1;
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message.Length > 0)
{
    <p class="text-success">@ViewBag.Message<span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.ErrorMessage.Length > 0)
{
    <p class="text-danger">@ViewBag.ErrorMessage <span class="glyphicon glyphicon-remove " aria-hidden="true"></span></p>
}

@if (userType.Length > 0)
{
    <div>
        <h3>

            @if (true)
            {
                <a class="delete pull-right" asp-controller="Booking" asp-action="DeleteBy" asp-route-userId="@Model.User.ID"><i class="fas fa-times bi"></i></a>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <a class="add pull-right" asp-controller="Booking" asp-action="add" asp-route-userId="@Model.User.ID"><i class="fas fa-plus"></i></a>
            }
        </h3>

        <table class="table table-striped" >
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-6">Event Name</th>
                <th class="col-md-2">Date</th>
                <th class="col-md-1">Time</th>
                <th class="col-md-2">Category</th>

            </tr>
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>@count</td>
                    <td><a asp-controller="Event" asp-action="Brochure" asp-route-eventId="@item.Event.ID">@item.Event.Name</a></td>
                    <td>@item.Event.Date.ToString("ddd d MMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</td>
                    <td>@item.Event.Date.ToString("hh:mm tt", CultureInfo.CreateSpecificCulture("en-US"))</td>
                    <td>@item.Event.Category.Name</td>
                </tr>
                count += 1;
            }
        </table>

    </div>

    @if (Model.Bookings.Count == 0)
    {
        <p>You do not have made any reservations yet!</p>
        <p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Book an event!!!</a></p>
    }

    <br />
    <p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Add another Event to your bookings</a></p>
}
else
{
    <p>Please Log in to view your reservations</p>
}
