@model VenueApp.ViewModels.ViewScheduledViewModel
@{
    ViewBag.Title = "Scheduled events from User \"" + Model.User.Username +"\"";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message.Length > 0)
{
    <p class="text-success">@ViewBag.Message<span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.ErrorMessage.Length > 0)
{
    <p class="text-danger">@ViewBag.ErrorMessage <span class="glyphicon glyphicon-remove " aria-hidden="true"></span></p>
}


<div>
    <ul class="list-group">
        <li class="list-group-item text-muted profileheader">Events Titles</li>
        @foreach (var item in Model.Bookings)
        {
            <li class="list-group-item">@item.Event.Name</li>
        }
    </ul>
</div>


@if (Model.Bookings.Count == 0)
{
    <p>The User does not have any reservations!</p>
    <p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Book an event!!!</a></p>
}

<br />
<p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Add another Event to your bookings</a></p>