@model VenueApp.ViewModels.ViewScheduledViewModel

@{
    @using Microsoft.AspNetCore.Http
    @using System.Globalization
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

    ViewBag.Title = "\"" + Model.User.Username + "'s\" " + "Scheduled events";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.Message.Length > 0)
{
    <p class="text-success">@ViewBag.Message<span class="glyphicon glyphicon-ok " aria-hidden="true"></span></p>
}
else if (ViewBag.ErrorMessage.Length > 0)
{
    <p class="text-danger">@ViewBag.ErrorMessage <span class="glyphicon glyphicon-remove " aria-hidden="true"></span></p>
}

@if (userType.Length > 0)
{
   
    <div>
        <ul class="list-group">
            <li class="list-group-item text-muted bookingheader">
                Reservations / Events
                <a class="delete pull-right" asp-controller="Booking" asp-action="DeleteBy" asp-route-userId="@Model.User.ID"><i class="fas fa-times bi"></i></a>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <a class="add pull-right" asp-controller="Booking" asp-action="add" asp-route-userId="@Model.User.ID"><i class="fas fa-plus"></i></a>
            </li>
            @foreach (var item in Model.Bookings)
            {
                <li class="list-group-item">@item.Event.Name</li>
            }
        </ul>
    </div>


    @if (Model.Bookings.Count == 0)
    {
        <p>The User does not have any reservations!</p>
        <p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Book an event!!!</a></p>
    }
    
}

<br />
<p><a asp-controller="Booking" asp-action="Add" asp-route-userId="@Model.User.ID"> Add another Event to your bookings</a></p>